.jumbotron{
  .col-md{
    text-align: center;
  }

  .vl {
    border-left: 1px solid;
    color: lightgrey;
    height: 150px;
    position: absolute;
    left: 50%;
    top: 50;
  }

  ul {
    list-style-position: inside;
  }
  .display-4{
    font-size:3.5rem;
    font-weight:300;
    line-height:1.2
  }

  .display-6{
    font-size:2.0rem;
    font-weight:300;
    line-height:1.2
  }
}
