<section id="home" class="jumbotron js-handle-banner js-id-29628 position-relative" style="">
  <div class="container">
    <div class="row">
      <div class="col-md  content-wrapper">
        <h1 class="jumbotron-title display-1">
          <p>About Visa Cares</p>
        </h1>
        <h4 class="jumbotron-subtitle">
          <p>Visa Cares is a simple solution to everyday consumers wanting to give back and support social causes in their communities through donations. We provide an easy-to-use system that rounds up your online transactions to donate directly to a nonprofit in need of assistance. Unlike traditional round up apps, we strive to offer flexibility to merchants as well as consumers. Merchants have the options to set nonprofits for consumers to choose from if they want to be affiliated with a certain cause. Nonprofits can also directly partner with us if they want to be added to our recommended nonprofits list.</p>
        </h4>
        <hr>
        <div class="row">
          <div class="col-md  content-wrapper">
            <p>From our research, we have found that a vast majority of consumers do not conduct their due diligence when donating to nonprofits and social causes. By working with both merchants and nonprofits, we personally vet the causes our customers support. Through third-party groups like Charity Navigator, we conduct diligence into organizations so donors can support with ease. With our pillar of full financial transparency, we share with our team and the public where our investigative funds go and what the findings are.</p>
          </div>
          <div class="vl"></div>
          <div class="col-md  content-wrapper">
            <p>Our vast network of merchant and nonprofit partners work in tandem to help Visa Cares access the true altruism in our communities. We want to leave no stone unturned in this time of crisis, encouraging those who are able to donate and share resources with those who are in need. We want to provide true financial access to the groups in need.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="overlay">
    </div>
  </div>
  <div class="jumbotron-overlay">
  </div>
  <hr>

  <div class="row col-md">
    <div class="col-md  content-wrapper">
      <h2>
        <p>Our Mission:</p>
      </h2>
      <div class="row col-md">
        <p>Visa Cares’ mission is to connect people to social causes and foster community altruism.</p>
      </div>
    </div>
    <div class="col-md  content-wrapper">
      <h2>
        <p>Our Values:</p>
      </h2>
      <p>To meet our mission statement, Visa Cares believes in demonstrating full financial transparency to show. We believe in building meaningful relationships with all partners, big or small. We believe in providing access and reaching all people.</p>
      <ul>
        <li>Transparency</li>
        <li>Partnerships&nbsp;</li>
        <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Access&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
      </ul>
    </div>
  </div>
</section>
