#checkout {
    h3 { color: #4a4a4a;}
    .amount-button {
        button {
            width: 130px;
            
            &:hover {
                background-color: #092a85;
            }
        }

        .active {
            background-color: #05184d;
        }
    }
}

