<section id="checkout">
    <h3 class="row justify-content-center mt-5">Donation Form</h3>

    <form class="donation-form col-sm-6 offset-sm-3" [formGroup]="donation"> 
        <div class="form-group">
            <label for="name">Name</label>
            <input id="name" class="form-control" formControlName="name">
        </div>
        <div class="form-group">
            <label for="organization">Organization</label>
            <select id="organization" class="form-control" formControlName="organization">
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="mercedes">Mercedes</option>
                <option value="audi">Audi</option>
            </select>
        </div>
        <div class="form-group d-flex justify-content-between amount-button">
            <!-- <label for="amount">Donation Amount</label>
            <select id="amount" class="form-control" formControlName="amount">
                <option value="1">$1</option>
                <option value="2">$1</option>
            </select> -->
            <button class="btn btn-lg btn-outline-primary" value="20" 
                [class]="donation.value.amount == '20'? 'active' : ''" (click)="chooseAmount($event)">$1 total:$20</button>
            <button class="btn btn-lg btn-outline-primary" value="21" 
                [class]="donation.value.amount == '21'? 'active' : ''" (click)="chooseAmount($event)">$2 total:$21</button>
            <button class="btn btn-lg btn-outline-primary" value="22" 
                [class]="donation.value.amount == '22'? 'active' : ''" (click)="chooseAmount($event)">$3 total:$22</button>
        </div>
        <div class="d-flex justify-content-center mt-5">
            <img id="checkout-img" alt="Visa Checkout" class="col-sm-7 v-button" role="button" (click)="submitDonation()"
            src="https://sandbox.secure.checkout.visa.com/wallet-services-web/xo/button.png"/>
        </div>
        
    </form>
</section>
