#checkout {
    h3 { color: #4a4a4a;}
    .amount-button {
        button {
            @media (min-width: 768px) {
                padding: .5rem 1rem;
                font-size: 1.25rem;
                line-height: 1.5;
                border-radius: .3rem;
                width: 130px;
            }
            
            &:hover {
                background-color: #092a85;
            }
        }

        .active {
            background-color: #05184d;
        }
    }
}

